.perspective {
  perspective: 8.5rem;
  perspective-origin: bottom;
}

.filter-brightness-60 {
  filter: brightness(60%);
}

.filter-brightness-70 {
  filter: brightness(70%);
}

.object-position-top {
  object-position: top;
}