@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* >>> Main imports ========================================== */
  @import '@/styles/variables';
  @import '@/styles/keyframes';

  /* >>> General =============================================== */
  html {
    scroll-behavior: smooth !important;
  }
  
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* >>> Typography ============================================ */
  h1:not(.prose *):not(.overwrite),
  h2:not(.prose *):not(.overwrite),
  h3:not(.prose *):not(.overwrite),
  h4:not(.prose *):not(.overwrite),
  h5:not(.prose *):not(.overwrite),
  h6:not(.prose *):not(.overwrite) {
    @apply text-foreground mb-4;
  }

  h1:not(.prose *):not(.overwrite) {
    @apply text-4xl;
  }

  h2:not(.prose *):not(.overwrite) {
    @apply text-3xl;
  }

  h3:not(.prose *):not(.overwrite) {
    @apply text-2xl;
  }

  h4:not(.prose *):not(.overwrite) {
    @apply text-xl;
  }

  h5:not(.prose *):not(.overwrite) {
    @apply text-xl;
  }

  p:not(.prose *):not(.overwrite) {
    @apply text-muted-foreground mb-4;
  }

  h1:not(.overwrite),
  h2:not(.overwrite),
  h3:not(.overwrite),
  h4:not(.overwrite),
  h5:not(.overwrite),
  h6:not(.overwrite) {
    scroll-margin-top: 5.625rem;
  }

  h1:not(.prose *):not(.overwrite),
  h2:not(.prose *):not(.overwrite) {
    line-height: 1.2 !important;
  }

  /* >>> Forms ================================================= */ 
  label {
    @apply
      font-poppins
      text-sm 
      block 
      uppercase 
      font-semibold
      tracking-wider
  }

  input[type=text], input[type=email], input[type=password], select, textarea {
    @apply
      px-2.5 py-2
      border 
      border-border
      rounded-xl
      text-primary
      bg-background
      font-poppins text-base leading-tight
  }
  input[type=text], input[type=email], input[type=password], select, textarea {
    @apply
      text-[1rem] /* Prevent iOS auto-zoom behavior */
      read-only:cursor-default
  }
  input[type=text], input[type=email], input[type=password], select {
    @apply
      min-h-[2.4rem]
  }
  input[type=text], input[type=email], input[type=password], textarea {
    @apply
      read-only:bg-background
      read-only:text-foreground
  }
  input[type=file] {
    @apply
      block font-poppins w-full text-medium
      file:hover:disabled:cursor-not-allowed
      file:cursor-pointer
      file:shadow-sm
      file:bg-background
      file:mr-2 
      file:my-2 
      file:px-4 
      file:py-1.5 
      file:rounded-xl
      file:border
      file:border-solid
      file:border-muted
      file:active:bg-muted
      file:disabled:bg-muted
      file:hover:border-muted-foreground
      file:hover:disabled:border-muted-foreground
      file:active:disabled:bg-muted
  }
  input[type=checkbox] {
    @apply
      rounded-xl
      bg-transparent
  }

  /* >>>  Other ================================================= */
  .vertical-text {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  .animate-rotate-pulse {
    animation: rotate-pulse 0.75s linear infinite normal both running;
  }
}

/* >>>  Scrollbar ================================================= */
::-webkit-scrollbar {
  @apply bg-muted w-1.5;
}

::-webkit-scrollbar-thumb {
  @apply bg-background/70 rounded-full hover:bg-primary transition-colors;
}

::selection { 
  @apply text-purple-400;
}