@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* >>> Main imports ========================================== */
  @import '@/styles/variables';
  @import '@/styles/keyframes';

  /* >>> Forms ================================================= */ 
  label {
    @apply
      font-sans 
      text-sm 
      block 
      uppercase 
      font-medium 
      tracking-wider
  }

  input[type=text], input[type=email], input[type=password], select, textarea {
    @apply
      px-2.5 py-2
      border 
      border-border
      rounded-xl
      text-primary
      bg-background
      font-mono text-base leading-tight /* TODO: need change font */
  }
  input[type=text], input[type=email], input[type=password], select, textarea {
    @apply
      text-[1rem] /* Prevent iOS auto-zoom behavior */
      read-only:cursor-default
  }
  input[type=text], input[type=email], input[type=password], select {
    @apply
      min-h-[2.4rem]
  }
  input[type=text], input[type=email], input[type=password], textarea {
    @apply
      read-only:bg-background
      read-only:text-foreground
  }
  input[type=file] {
    @apply
      block font-mono w-full text-medium
      file:hover:disabled:cursor-not-allowed
      file:cursor-pointer
      file:shadow-sm
      file:bg-background
      file:mr-2 
      file:my-2 
      file:px-4 
      file:py-1.5 
      file:rounded-xl
      file:border
      file:border-solid
      file:border-muted
      file:active:bg-muted
      file:disabled:bg-muted
      file:hover:border-muted-foreground
      file:hover:disabled:border-muted-foreground
      file:active:disabled:bg-muted
  }
  input[type=checkbox] {
    @apply
      rounded-xl
      bg-transparent
  }

  /* >>>  Other ================================================= */
  .vertical-text {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  .animate-rotate-pulse {
    animation: rotate-pulse 0.75s linear infinite normal both running;
  }
}

::-webkit-scrollbar {
  @apply bg-muted w-1.5;
}

::-webkit-scrollbar-thumb {
  @apply bg-background/70 rounded-full hover:bg-primary transition-colors;
}

::selection { 
  @apply text-primary;
}